<h1>{{title}}</h1>

<!-- Task 1 -->
<!-- <input type="text" #arrIn> <br> <br>
<button (click)="arrFill(arrIn.value)">
  Send data</button>
<h2 *ngFor="let ar of arr">
  Value in Array: {{ar}}</h2> -->

<!-- Task 2 -->
<!-- <h1>Form</h1>
<p style="color: red;" *ngIf="error">{{error}}</p>
<form #myForm="ngForm" (ngSubmit)="retrieveData(myForm.value)">
  <label for="name">Name:</label>
  <input ngModel type="text" name="name" id="name" placeholder="Enter Name">
  <br><br>
  <label for="email">Email:</label>
  <input ngModel type="email" name="email" id="email" placeholder="Enter Email">
  <br><br>
  <label for="gender">Gender:</label>
  <input ngModel type="radio" name="gender" value="Male">Male
  <input ngModel type="radio" name="gender" value="Female">Female
  <br><br>
  <label for="hobby">Hobby:</label>
  Football<input ngModel type="checkbox" #hobby1 (click)="addHobby(hobby1.value)" name="hobby" value="Football">
  Cricket<input ngModel type="checkbox" #hobby2 (click)="addHobby(hobby2.value)" name="hobby" value="Cricket">
  Badminton<input ngModel type="checkbox" #hobby3 (click)="addHobby(hobby3.value)" name="hobby" value="Badminton">
  <br><br>
  <label for="college">College:</label>
  <select ngModel name="college">
    <option value="" selected>Select College</option>
    <option value="GIT">GIT</option>
    <option value="IIT">IIT</option>
    <option value="NIT">NIT</option>
    <option value="VIT">VIT</option>
  </select>
  <br><br>

  <button (click)="showFormData()">Register</button>
</form>

<ul *ngIf="displayForm">
  <li>{{formData.name}}</li>
  <li>{{formData.email}}</li>
  <li>{{formData.gender}}</li>
  <li>{{formData.hobby}}</li>
  <li>{{formData.college}}</li>
</ul> -->


<!-- TASK 3 -->
<!-- <h3 *ngFor="let obj of people">
  <p id="hName" #headerName (click)="showFamily(obj.id)">{{obj.name}}</p>

  <div *ngIf="obj.sF">
    <ul id="singleFP" *ngFor="let subObj of obj.family_person">
      <li>{{subObj.name}}</li>
      <li>{{subObj.email}}</li>
      <li>{{subObj.phone}}</li>
    </ul>
  </div>
</h3> -->


<!-- TASK 4 -->
<!-- <h2>TODO LIST</h2>
<input type="text" placeholder="Enter New TASK" #task>
<button mat-raised-button (click)="addTask(task.value)">ADD TASK</button>
<button (click)="editTask()">
  Edit
</button>
<br><br>
<ul *ngFor="let item of list">
  <li>{{item.name}}
    <button (click)="removeTask(item.id)">
      <mat-icon>delete</mat-icon>
    </button>

    <input *ngIf="showChangeField" type="text" (blur)="changeTask(edittext.value,item.id)" #edittext>
  </li>
</ul> -->

<!-- TASK 5 -->
<form [formGroup]="formLog" (ngSubmit)="RF1Submit()">
  <input type="text" formControlName="name">
  <br>
  <span style="color: brown;" *ngIf="name1 && name1.invalid && name1.touched">Name is Required and of Min length
    2</span>
  <br>
  <input type="text" formControlName="email">
  <br>
  <span style="color: brown;" *ngIf="email1 && email1.invalid && email1.touched">Email format required </span>
  <br>
  <input type="text" formControlName="password">
  <br>
  <span style="color: brown;" *ngIf="pass1 && pass1.invalid && pass1.touched">Password Required</span>
  <br>
  <button [disabled]="formLog.invalid">Login</button>
</form>

<form *ngIf="showRF2" [formGroup]="formShow" (ngSubmit)="RF2Submit()">
  <input type="text" formControlName="name2">
  <br>
  <br>
  <input type="text" formControlName="email2">
  <br>
  <br>
  <input type="text" formControlName="password2">
  <br>
  <br>
  <button>Get Values</button>
</form>